@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffff00;
  display: flex;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 10px 10px #000;
  max-width: 350px;
  background-color: #fff;
  transition: 0.3s;
}

.container:hover {
  transform: translateY(-5px);
}

.image img {
  border-radius: 10px;
  width: 350px;
  height: auto;
}

.btn {
  border: none;
  background-color: #fae106;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 15px;
  font-weight: bold;
  color: #000;
}

.side {
  margin-top: 15px;
  font-weight: light;
  color: #000;
  margin-bottom: 15px;
}

.main-text h2 {
  margin-bottom: 15px;
  font-weight: bold;
}

.main-text article {
  margin-bottom: 15px;
}

.name-tag {
  display: flex;
}

.name-tag img {
  width: 50px;
  border-radius: 25px;
}

.name-tag p {
  margin-top: 11px;
  padding-left: 10px;
  color: #000;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  body {
    width: 300px;
    height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 20.5rem;
  }
  .btn {
    font-size: 0.75rem;
  }
  .main-text h2 {
    font-size: 1.25rem;
  }
  .name {
    font-size: 0.875rem;
  }

  .image img {
    width: 100%;
  }
}
